:root {
    --light_gray: #727880;
    --dark_gray: #363d46;
    --white: #f0f0ea;
    --tan: #ceb290;
    --dark_blue: #060644;
    --light_blue: #E6F2FF;
}

#general-info {
    border: 2px solid #000000;
    background-color: var(--white);
    margin-bottom: 50px;
    margin-right: 80px;
    
}

#general-information {
    font-family: Verdana, sans-serif;
}

#update {
    font-family: Verdana, sans-serif;
}

header {
    background-color: var(--tan);
    display: flex;
    flex-direction: row;
    font-family: Verdana, sans-serif;
}

footer {
    background-color: var(--tan);
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

footer p, footer a {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 20px;

}

footer a {
    padding-left: 0px;
}

footer a:visited, footer a:link {
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

#petList {
    padding-top: 1rem;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
}

.petNameList {
    height: 100%;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    border-width: 1px;
    font-weight: bold;
    font-family: serif;
}

#addpet {
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    font-weight: bold;
    border-width: 1px;
    font-family: Verdana, sans-serif;
}

#title {
    background-color: var(--dark_blue);
    padding: 10px;
    color: var(--white);
    border: 2px solid var(--dark_blue);
    border-radius: 8px;
    margin: 10px;
    font-family: Verdana, sans-serif;
}

#dabuttondiv {
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    background-color: var(--light_blue);
}

#left-main {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#spec-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: row;
    height: 65vh;
    text-align: center;
    margin-right: 80px;
}

.info-block {
    display: flex;
    flex: 0 1 calc(25% - 15px);
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #000000;
    background-color: var(--dark_gray);
}

.info-title {
    color: white;
    flex: 0 0 10%;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
.left-main-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.left-main-inputs button{
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f0f0ea;  
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-family: serif;
}

#right-main {
    background-color: var(--dark_gray);
    width: 40vw;
}

#breed-pic {
    height: 50%;
    color: var(--white);
    text-align: center;
}

#actualpicture {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

#breed-pic {
    height: 40%;
}

#actualinfo {
    color: var(--white);
    padding: 10px;
}

#breed-info {
    height: 60%;
    font-family: serif;
}

#title-anchor {
    text-decoration: none; 
    color: inherit;
}

/* responsive design when screen size is below 501px */
@media (max-width: 500px) {
    main {
        flex-direction: column;
      }
    
      #left-main {
        width: 100%;
        height: 950px;
        align-items: center;
      }
    
      #spec-info {
        gap: 20px;
        flex-wrap: wrap;
        margin-right: 40px;
        margin-left: 40px;
      }
    
      .info-block {
        flex: 0 0 45%;
        height: 340px;
      }
      #general-info {
        margin-right: 0;
        width: 100%;
        height: 20%;
        margin-bottom: 30px;
      }

      #right-main {
        width: 100%;
      }

      footer p{
        font-size: 10px;
      }

      footer a{
        font-size: 10px;
      }
  }