:root {
    --light_gray: #727880;
    --dark_gray: #363d46;
    --white: #f0f0ea;
    --tan: #ceb290;
    --dark_blue: #060644;
    --light_blue: #E6F2FF;
}

#general-info {
    border: 2px solid #000000;
    background-color: var(--white);
    margin-bottom: 50px;
    margin-right: 80px;

}

header {
    background-color: var(--tan);
    display: flex;
    flex-direction: row;
}

#title {
    background-color: var(--dark_blue);
    padding: 10px;
    color: var(--white);
    border: 2px solid var(--dark_blue);
    border-radius: 8px;
    margin: 10px;
}

#addpet {
    justify-self: flex-end;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    background-color: var(--light_blue);
}

#left-main {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#spec-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: row;
    height: 65vh;
    text-align: center;
    margin-right: 80px;
}

.info-block {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    background-color: #727880;
    flex: 1;
}

.info-title {
    color: #f0f0ea;
    flex: 0 0 10%;
}
.left-main-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.left-main-inputs p{
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727880;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f0f0ea;  
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

#right-main {
    background-color: var(--dark_gray);
    width: 40vw;
}

#breed-pic {
    height: 50%;
    color: var(--white);
    text-align: center;
}

footer {
    background-color: var(--tan);
}